<div class="bg-danger">
  <div class="container">
    <h2 class="text-light">Productos Angular</h2>
  </div>
  <div class="bg-red-light">
    <app-navbar></app-navbar>
  </div>
</div>
<div class="container">
  <div class="m-5">
    <div class="bg-gray p-4">
      <h2>Webapp de productos con Angular</h2>
      <p>Gestiona tus productos con la aplicación web SPA creada con Angular</p>
      <div class="d-flex gap-3">
        <button class="btn btn-primary">Ver productos</button>
        <button class="btn btn-success">Añadir productos</button>
      </div>
    </div>
  </div>
</div>
